[user]
	email = mark.harfouche@gmail.com
	name = Mark Harfouche

[init]
	templatedir = ~/linux-tools/git

[color]
  ui = auto

[alias]
  br = branch
  bra = branch -a
  ci = commit
  cia = commit -a
  ciam = commit -a -m
  co = checkout
  cl = clone
  ps = push
  df = diff --ignore-all-space
  dw = diff --ignore-all-space --word-diff
  rb = rebase
  st = status
  sb = show-branch
  unstage = reset HEAD
  undo = reset --hard HEAD~1
  unpushed = log --branches --not --remotes --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[branch]
  autosetupmerge = true

[core]
  excludesfile = ~/.cvsignore
  autocrlf = input
  editor = nvim
  filemode = false

[diff "texdiff"]
  wordRegex = "\\\\[a-zA-Z]+|[{}]|\\\\.|[^\\{}[:space:]]+"

[push]
  default = simple

[mergetool "vimdiff3"]
  cmd = nvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
  tool = vimdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
