[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/SearchComplete"]
	path = vim/bundle/SearchComplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim/bundle/vim-matlab"]
	path = vim/bundle/vim-matlab
	url = git://github.com/vim-scripts/MatlabFilesEdition.git
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/bundle/tomorrow-night-vim"]
	path = vim/bundle/tomorrow-night-vim
	url = git://github.com/mnoble/tomorrow-night-vim.git
