[submodule "vim/bundle/yankstack"]
	path = vim/.vim/bundle/yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim/bundle/tomorrow-night-vim"]
	path = vim/bundle/tomorrow-night-vim
	url = git://github.com/mnoble/tomorrow-night-vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "emacs/lisp/emacs-color-theme-solarized"]
	path = emacs/lisp/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
